.toggle-button {
    -fx-text-fill: transparent;
    -fx-base: whitesmoke;
    -fx-background: transparent;
    -fx-border-width: 3;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: #FE5C5C;
    -fx-effect: null;
}

.toggle-button:selected {
    -fx-text-fill: transparent;
    -fx-base: #F69696;
    -fx-background: transparent;
    -fx-border-width: 3;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: #FE5C5C;
    -fx-effect: null;
}