#detailsPane {
    -fx-background-color: whitesmoke;
    /*-fx-background-image: url("/images/paper-background.png");*/
    /*-fx-background-image-radius: 20;  fx-background-image does not working with fx-background-radius*/
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-width: 15;
    -fx-fill: transparent;
    -fx-border-color: #36454F;
}
.text-field {
    -fx-background-color: transparent;
    -fx-border-color: whitesmoke;
    -fx-border-width: 0px;
}
.text-field:focused {
    -fx-background-color: transparent;
    -fx-border-color: antiquewhite;
    -fx-border-width: 0px;
}
.text-area {
    -fx-font-family: "Helvetica";
    -fx-background-color: transparent;
    -fx-border-width: 0px;
}
.text-area:focused {
    -fx-border-color: antiquewhite;
    -fx-font-family: "Helvetica";
    -fx-background-color: transparent;
    -fx-border-width: 0px;
}
.label {
    -fx-font-family: "Helvetica";
    -fx-font-size: 15px;
    -fx-text-fill: black;
    -fx-text-alignment: center;
}