.button {
    -fx-background-color: #323A68;
    -fx-text-fill: #F0536E;
    -fx-border-width: 10;
    -fx-border-radius: 5;
    -fx-border-color: #323A68;
    -fx-background-insets: 5;
    -fx-background-radius: 5;
    -fx-font-size: 26px;
    -fx-font-weight: bold;
}
.button:hover {
    -fx-background-color: #323A68;
    -fx-border-width: 10;
    -fx-background-insets: 5;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: #2E2E30;
    -fx-fill: transparent;
    -fx-text-fill: #F0536E;
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}