.button {
    -fx-background-color: #FE5C5C;
    -fx-text-fill: white;
    -fx-border-width: 5;
    -fx-border-radius: 2;
    -fx-border-color: #FE5C5C;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}
.button:hover {
    -fx-background-color: #FE5C5C;
    -fx-border-width: 5;
    -fx-border-radius: 2;
    -fx-border-color: #520000;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}