.button {
    -fx-background-color: whitesmoke;
    -fx-font-family: "Helvetica";
    -fx-font-size: 18px;
    -fx-font-weight: normal;
    -fx-text-fill: black;
    -fx-graphic: "images/notseen.png";
}
.button:hover {
    -fx-font-family: "Helvetica";
    -fx-font-size: 18px;
    -fx-font-weight: normal;
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-graphic: "images/notseen.png";
}