.list-cell:filled:selected:focused, .list-cell:filled:selected, .list-cell:selected, .list-cell:focused {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-control-inner-background: transparent;
    -fx-control-inner-background-alt: transparent;
    -fx-box-border: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}