.toggle-button {
  -fx-background-image: url("../images/musicpackage/24px/017-pause.png");
  -fx-background-position: center;
  -fx-border-style: none;
  -fx-border-width: 0;
}

.toggle-button:selected {
  -fx-background-image: url("../images/musicpackage/24px/021-play-button.png");
  -fx-background-position: center;
  -fx-border-style: none;
  -fx-border-width: 0;
}