.root {
    -fx-background-color: whitesmoke;
    -fx-font-size: 10pt;
}
.text-field {
    -fx-background-color: black , white , whitesmoke;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
    -fx-border-color: transparent;
    -fx-border-width: 2px;
}
.text-field:focused {
    -fx-background-color: white;
    -fx-border-color: antiquewhite;
}
.text-area {
    -fx-font-family: "Helvetica";
    -fx-background-color: whitesmoke;
}
.text-area:focused {
    -fx-border-color: antiquewhite;
    -fx-font-family: "Helvetica";
    -fx-background-color: whitesmoke;
    -fx-border-width: 2px;
}
.label {
    -fx-font-family: "Helvetica";
    -fx-font-size: 15px;
    -fx-text-fill: black;
    -fx-text-alignment: center;
}

#HBoxControls {
    -fx-background-color: whitesmoke;
    -fx-font-size: 10pt;
    -fx-padding: 10, 20, 10, 0;
    -fx-alignment: top-right;
    -fx-spacing: 20;
    -fx-border-color: whitesmoke;
}