.table-view {
    -fx-background-color: whitesmoke;
    -fx-font-family: "Helvetica";
}
.table-view:focused {
    -fx-background-color: whitesmoke;
    -fx-font-family: "Helvetica";
}
.table-view .column-header {
    -fx-background-color: whitesmoke;
}
.table-view .column-header .label {
    -fx-font-family: "Helvetica";
    -fx-alignment: CENTER_LEFT;;
}
.table-view .filler {
    -fx-background-color: whitesmoke;
}